    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    .navbar {
        font-family: 'Monto', sans-serif;
        background-color: #20232a;
    }
    
    .navbar-brand {
        font-size: 1.5rem;
    }
    
    .heading {
        border: 1px solid black !important;
        border-radius: 5px;
        padding: 10px;
    }